<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.quant-platform.core</string>
  <key>ProgramArguments</key>
  <array>
    <string>__EXECUTABLE__</string>
    <string>run</string>
    <string>--lock-file</string>
    <string>__LOCK_PATH__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__PROJECT_ROOT__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>__HOME__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>ThrottleInterval</key>
  <integer>30</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/core.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/core.stderr.log</string>
</dict>
</plist>
